<%- include ../partials/prelogin-nav %>
<%- include ../partials/alert %>

<div class="container div--container__login-signup z-depth-2 fadein">
  <div class="section">
    <div class="row">
      <div class="col s12">
        <span class="span--login__title">welcome back!</span>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="section">

      <div class="row">
        <form method="POST" action="/auth/login" class="col s12">

          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="text" class="" name="email">
              <label for="email">Email</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="" name="password">
              <label for="password">Password</label>
            </div>
          </div>

          <div class="row">
            <div class="col s5 offset-s6 span--login__signup">
              <span>Need an account?</span>
            </div>
          </div>

          <div class="row">
            <div class="col s4 offset-s1">
              <input class="btn-large btn--login waves-effect waves-plum waves-ripple" type="submit" value="Login"></div>
          </div>

          <div class="col s4 offset-s6 "><a class="btn-large btn--signup waves-effect waves-plum waves-ripple" href="/auth/signup">Sign Up</a></div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

<%- include ../partials/documentEnd %>
