
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <ul id="dropdown1" class="dropdown-content">
        <li><a href="/auth/signup" title="Sign Up">Sign Up</a></li>
        <li><a href="/auth/login" title="Login">Login</a></li>
        <li><a href="/about" title="About">About</a></li>
      </ul>
      <a href="/" class="brand-logo"><i class="material-icons">book</i></a>
      <a class="dropdown-button" href="#!" data-activates="dropdown1">
        <ul class="right nav-mobile">
          <li><i class="material-icons right">arrow_drop_down</i><i class="material-icons right">account_circle</i></li>
        </ul>
      </a>
      <h1 class="nav--header__wide show-on-large fadein"><a href="/">mndf.ll</a></h1>
    </div>
  </nav>
</div>

<!-- End Pre Login Navbar Partial -->
<div class="container container div--container__login-signup z-depth-2 fadein">
  <div class="section">
    <div class="row">
      <div class="col s12"><span class="span--login__title">sign up</span>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="section">
      <div class="row">

        <form method="POST" action="/auth/signup" class="col s12">

          <div class="row">
            <div class="input-field col s6">
              <input id="first_name" name="firstname" type="text">
              <label for="first_name">First Name</label>
            </div>

            <div class="input-field col s6">
              <input id="last_name" name="lastname" type="text">
              <label for="last_name">Last Name</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input name="username"  type="text" class="validate">
              <label for="username">Username</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s6">
              <input id="password" name="password" type="password">
              <label for="password">Password</label>
            </div>

            <div class="input-field col s6">
              <input id="password" name="" type="password">
              <label for="passwordVerify">Verify Password</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input id="email" name="email" type="text">
              <label for="email">Email</label>
            </div>
          </div>

          <div class="row">
            <div class="col s5 offset-s6 span--login__signup">
              <span>Already registered?</span>
            </div>
          </div>

          <div class="row">
            <div class="col s4 offset-s1">
              <input class="btn-large btn--login" type="submit" value="Sign Up"></div>
          </div>

          <div class="col s4 offset-s6 "><a class="btn-large btn--signup" href="/auth/login">Login</a></div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
