<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
    <a class="grey-text text-lighten-4 left" href="www.seancswanson.com"> © 2018 Sean Swanson || WDI-SEA16</a>
    <a class="grey-text text-lighten-4 right" href="www.seancswanson.com">seancswanson.com</a> 
    </div>
  </div>
</footer>
