<!-- Pre Login Navbar Partial -->

<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <ul id="dropdown1" class="dropdown-content">
        <li><a href="/auth/signup" title="Sign Up">Sign Up</a></li>
        <li><a href="/auth/login" title="Login">Login</a></li>
        <li><a href="/journal/all" title="Journal">Journal</a></li>
        <li><a href="/about" title="About">About</a></li>
      </ul>
      <a href="/" class="brand-logo"><i class="material-icons">book</i></a>
      <a class="dropdown-button" href="#!" data-activates="dropdown1">
        <ul class="right nav-mobile">
          <li><i class="material-icons right">arrow_drop_down</i><i class="material-icons right">account_circle</i></li>
        </ul>
      </a>
      <h1 class="nav--header__wide show-on-large fadein"><a href="/">mndf.ll
      </h1></a>
    </div>
  </nav>
</div>

<!-- End Pre Login Navbar Partial -->