<div class="container center-align fadein">
  <div class="section">
    <span class="span--journal__quote">"Victory comes from finding opportunity in Problems" - Sun Tzu</span>
  </div>
</div>

<div class="div--container__journal container z-depth-3 fadein">
  <div class="section">
    <div class="row">
      <div class="col s8">
        <span class="span--journal__title"> Your Entries
        </span>
      </div>
      <div class="col s3">
        <a href="#" class="gray-text"><i class="fa fa-pencil i--journal__new waves-effect waves-new waves-ripple" aria-hidden="true"></i>         
        <span class="hide-on-med-and-down span--journal__new">add entry</span>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col s8">
        <span class="span--journal__subtitle">
          click on an entry to view details
        </span>
      </div>
    </div>
  </div>
  <div class="section">

    <table class="striped bordered centered">

      <thead class="columns--journal">
        <th>Date</th>
        <th>Mood + Notes</th>
      </thead>

      <tbody class="rows--journal">
        <tr class="rows--journal__hover">
          <td><a href="/journal/:id">January 8, 2018</a></td>
          <td><a href="/journal/:id">Happy + killed it today in school! La croix master cleanse pug, banjo neutra artisan roof party. Glossier air plant tumblr brunch, craft beer copper mug PBR&B adaptogen brooklyn organic cred YOLO.</a></td>
        </tr>
        <tr class="rows--journal__hover">
          <td><a href="/journal/:id">January 9, 2018</a></td>
          <td><a href="/journal/:id">Motivated + woke up super early! Fashion axe kogi sriracha literally, paleo quinoa taiyaki leggings waistcoat flexitarian readymade meh butcher normcore.</a></td>
        </tr>
      </tbody>      
    </table>

  </div>
</div>