<%- include ../partials/postlogin-nav %>
<%- include ../partials/quote %>


<div class="div--container__create container z-depth-3 fadein div--alpha">
  <div class="section">
    <div class="row">
      <div class="col s11">
        <span class="span--journal__title">Create an entry
        </span>
      </div>
      <div class="col s1 div--modal__activate">
         <a class="modal-trigger i--modal__activate" href="#modal1"><i class="fa fa-info-circle fadein"></i><span class="hide-on-med-and-down span--modalactivate__subtitle center-align">Journal Guide</span></a>
      </div>
    </div>
    <div class="container">

      <div id="modal1" class="modal">
        <div class="modal-content">
         <span class="span--modal__title">Journal Guide</span>
          <p class="p--modal__body">The benefits of journaling, especially daily, are well documented. Each year people purport more evidence supporting the claim that journaling has a positive impact on physical well-being.</p>
          <p class="p--modal__body">Some benefits of this enlightening practice include:</p>
          <ul class="ul--modal">
            <li>- Clarity in your thoughts and feelings</li>
            <li>- Knowing yourself better</li>
            <li>- Reduced negative stress</li>
            <li>- Solving problems more effectively</li>
            <li>- Resolving disagreements with yourself and others</li>
          </ul>
          <p class="p--modal__body">Utilize mndf.ll to keep track of patterns, trends and improvement and growth over time.</p>
          <p class="p--modal__body">You won't regret it.</p>
          <p class="p--modal__source">The Health Benefits of Journaling By Maud Purcell, LCSW, CEAP</p>
       </div>
       <div class="modal-footer">
         <a href="#!" class="modal-action modal-close i--modal__close btn"><i class="fa fa-check-circle" aria-hidden="true"></i>
        </a>
        </div>
      </div>

      <div class="section">
        <form id="form--journal__new" method="POST" action="/journal/all" class="col s12">

            <div class="row">
              <div class="input-field col s12">
                <input id="" name="location" type="text">
                <label for="location">Where are you?</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <input id="" name="mood" type="text">
                <label for="mood">How do you feel today?</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <input id="" name="goal" type="text">
                <label for="goal">What is your intention or goal?</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <label for="">3 things needed to be done today:</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s9 offset-s1">
                <input id="" name="priority1" type="text">
                <label for="priority1">1.</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s9 offset-s1">
                <input id="" name="priority2" type="text">
                <label for="priority2">2.</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s9 offset-s1">
                <input id="" name="priority3" type="text">
                <label for="priority3">3.</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <label for="notes">Any additional musings that come to mind...</label>
              </div>
            </div>
            
            <div class="row">
              <div class="input-field col s12">
                <textarea class="textarea--journal__musings" id="" name="notes" type="text" placeholder="...perhaps a poem or a limerick?"></textarea>
              </div>
            </div>

            <div class="row">
              <div class="col s9">
                <a id="a--input__submit" class="btn-large btn--create waves-effect waves-plum waves-ripple"><i class="fa fa-plus-circle i--circle__create" aria-hidden="true"></i>Post</a>
              </div>
            </div>

          </form>
      </div>
    </div>
  </div>
</div>