<div class="div--container__create container z-depth-3 fadein">
  <div class="section">
    <div class="row">
      <div class="col s11">
        <span class="span--journal__title">
        </span>
      </div>
    </div>
    <div class="container">
      <div class="section">

            <div class="row">
              <div class="input-field col s12">
                <label for="">Where were you?</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <label for="">How do you feel today?</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <label for="">What is your intention or goal?</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <label for="">3 things needed to be done today:</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s9 offset-s1">
                <label for="">1.</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s9 offset-s1">
                <label for="">2.</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s9 offset-s1">
                <label for="">3.</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <label for="">Any additional musings that came to mind...</label>

              </div>
            </div>
            
            <div class="row">
              <div class="input-field col s12">
              </div>
            </div>

<!--             <div class="row">
              <div class="col s9">
                <a id="a--input__submit" class="btn-large btn--create waves-effect waves-plum waves-ripple"><i class="fa fa-plus-circle i--circle__create" aria-hidden="true"></i>Post</a>
              </div>
            </div> -->
      </div>
    </div>
  </div>
</div>