<%- include ./partials/prelogin-nav %>

<div class="container center-align fadein">
  <div class="section">
    <span class="span--journal__quote">"In the journal I do not just express myself more openly than I could to any person; I create myself." —Susan Sontag</span>
  </div>
</div>

 <div class="div--container__journal container z-depth-3 fadein div--alpha">
   <div class="section">
      <div class="row">
        <div class="col s12">
          <span class="span--journal__title"><em>about</em> mndf.ll</span>
          </span>
        </div>
        <div class="section div--about__section">
          <p class="p--about__body">Thank you so much for visiting!</p>
          <p class="p--about__body">mndf.ll is created and maintained by  <a class="a--about" href="http://seancswanson.com">Sean Swanson</a>.</p>
          <p class="p--about__body">Technologies used in this application:</p>
          <blockquote>
          <ul>
            <li>Node.js</li>
            <li>─Utilizing RESTful architecture practices</li>
            <li>Express</li>
            <li>─Numerous other node modules</li>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>─Materialize CSS Framework</li>
            <li>Forismatic Quote API</li>
          </ul>
        </blockquote>
          <p class="p--about__body">Development notes can be found in full thru the <a class="a--about" href="https://github.com/seanthaswan/mndfll">GitHub repository</a>.</p>
        </div>
      </div>
    </div>
   </div>
 </div>

<%- include ./partials/documentEndEdit %>