<div class="div--landing container center-align">
  <div class="section">
    <div class="row"> 
      <div class="col s12">
        <span class="span--landing">mndf.ll</span>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <img class="img--landing__yang" src="./public/assets/yang.svg" alt="yin-yang symbol">
      </div>
    </div>
  </div>
</div>
