<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>MNDFLL</title>
  <script src="https://use.fontawesome.com/2c16f69ae6.js"></script>
  <link href="https://fonts.googleapis.com/css?family=EB+Garamond|Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./style.css">
</head>
<body>
<div class="div--landing container center-align fadein">

  <div class="section">
    <div class="row"> 
      <div class="col s12">
        <span class="span--landing__title">mndf.ll</span>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <img class="img--landing__yang" src="./public/assets/yang.svg" alt="yin-yang symbol">
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <span class="span--landing__subtitle">for cultivating an enriched life</span>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="div--buttons__center section">
      <div class="row">
        <div class="col s12">
          <a href="/auth/signup" class="z-depth-2 btn-large waves-effect waves-ripple">Sign Up (it's free)</a>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <a href="/auth/login" class="z-depth-2 btn-large waves-effect waves-ripple">Login</a>
        </div> 
      </div>    
  </div>
</div>

  <div class="divider"></div>

  <div class="section">
    <div class="row">
      <div class="col s12 m4">
        <div class="card card--landing z-depth-1">
          <div class="card-content white-text">
            <span class="card-title"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </span>
            <span class="card-title">Curated Journal</span>
            <div class="divider"></div>
            <p>Take a daily temperature check in 5 minutes or less using mndf.ll's entry template.</p>
          </div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="card card--landing z-depth-1">
          <div class="card-content white-text">
            <span class="card-title">
              <i class="fa fa-sun-o" aria-hidden="true"></i>
            </span>
            <span class="card-title">Win The Day</span>
            <div class="divider"></div>
            <p>Set your intention for the day with your current or daily goals coupled with a few priorities to stay on track.
          </div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="card card--landing z-depth-1">
          <div class="card-content white-text">
            <span class="card-title"><i class="fa fa-level-up" aria-hidden="true"></i>
            </span>
            <span class="card-title">Level Up Your Life</span>
            <div class="divider"></div>
            <p>As soon as one day you will feel a sense of fulfillment and gratitude within yourself. Your potential is limitless.
          </div>
        </div>
      </div>           
    </div>
  </div>

</div>

<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
    <a class="grey-text text-lighten-4 left" href="www.seancswanson.com"> © 2018 Sean Swanson || WDI-SEA16</a>
    <a class="grey-text text-lighten-4 right" href="www.seancswanson.com">seancswanson.com</a> 
    </div>
  </div>
</footer>




  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
</html>